name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # лучше для анализа веток/PR

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build + Tests
        run: mvn -B clean verify

      - name: SonarCloud analysis
        run: mvn -B sonar:sonar \
          -Dsonar.projectKey=dmiganoid_Prac_4_UIVPRPO \
          -Dsonar.organization=dmiganoid \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }}
